meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="ie=edge")
title Vulnerability Report
meta(name='keywords' content='')
meta(name='description' content='')

link(rel="stylesheet", type="text/css", href="./static/style/reset.css", media="screen")
link(rel="stylesheet", type="text/css", href="./static/style/main.css", media="screen")
