meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="ie=edge")
title Vulnerability Report
meta(name='keywords' content='security, libraries, frameworks, web, web development, tools')
meta(name='description' content='Be confident that your front-end dependencies are secure')
meta(name="monetization" content="$coil.xrptipbot.com/ikH5T_PJQQ21VjtoVhJWCQ")

include ga.html

link(rel="stylesheet", type="text/css", href="./static/style/reset.css", media="screen")
link(rel="stylesheet", type="text/css", href="./static/style/typography.css", media="screen")
link(rel="stylesheet", type="text/css", href="./static/style/main.css", media="screen")
