doctype html
html(lang="en")
  include includes/head.pug
  body
    main
      h1 Vulnerability Report

      p(class="lead-in") Running a website is a lot of work, with a multitude of moving parts. Do you know which front-end frameworks and libraries you use and whether they are <b>secure</b>?
      p The Vulnerability report will tell you whether there is anything that needs your attention, give you a link to the relevant security advisory, and to top it all off, give you a list of all of the front-end JavaScript frameworks and libraries you depend on. Go ahead, enter your website URL and click on "Test My Page"

      form(id="verify" name="website" action="/test" method="post")
        label(for="url" class="visually-hidden") Website URL:
        input(type="url" name="url" id="url" placeholder="https://www.example.com" required)

        input(type="submit" value="Test My Page")

      div(id="wait-screen" class="wait-screen hidden")
        p(class="wait-msg") Gathering data and building your report. Hang tight!
        include ../static/loader/rings.svg

      div(id="vulnerability-report" class="results hidden")
        section(class="results-container")
          header
            h2 Vulnerable Libraries and Frameworks
          p(id="no-vulnerabilities" class="hidden") No vulnerabilities found! Someone is going to sleep well tonight 😁 💤
          div(id="vulnerable-libs")
        section(class="results-container")
          header
            h3 Libraries and Frameworks
          div(id="libraries")

    include includes/footer.pug


